.github/**
.vscode/**
.vscode-test/**
# out/** # ignore case use bundle
# node_modules/** # ignore case use bundle
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
