import { Command } from "../../structures/command";
import * as vscode from 'vscode';

export default class extends Command {

    constructor(cache: Map<any, any>) {
        super(cache, {
            name: ""
        });
    }

    run = async (uri: vscode.Uri) => {
    };
}
