import { Command } from "../../structures/command";
import * as vscode from 'vscode';
import { Discloud } from "../../structures/extend";

module.exports = class extends Command {

    constructor(discloud: Discloud) {
        super(discloud, {
            name: ""
        });
    }

    run = async (uri: vscode.Uri) => {
    };
};
